{{ partial "header.html" . }}
<div class="container">
    <h2>Welcome</h2>

    <p>Severn Delta is the UK's leading supplier of private label laundry sheets (Tumbler Dryer Sheets, Colour Sheet, Whitener Sheets etc) and one of the UK’s leading supplier of retail quality wet wipes for all applications. All development and manufacturing takes place at our UK plant in Bridgwater, Somerset.</p>

    <h4>Get in touch</h4>
    <p>Alison Kelley, Managing Director: +44 (0) 1278 726 275</p>
    <p>Alison Fudge, Business Development Manager: +44 (0) 1278 726 280</p>
</div>
{{ partial "footer.html" . }}
